<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="course">
            <h2><span jhiTranslate="demoApp.course.detail.title">Course</span> {{course.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="demoApp.course.courseName">Course Name</span></dt>
                <dd>
                    <span>{{course.courseName}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.course.courseType">Course Type</span></dt>
                <dd>
                    <span>{{course.courseType}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.course.timeTable">Time Table</span></dt>
                <dd>
                    <span>{{course.timeTable}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.course.teacher">Teacher</span></dt>
                <dd>
                    <div *ngIf="course.teacher">
                        <a [routerLink]="['/teacher', course.teacher?.id, 'view']">{{course.teacher?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="demoApp.course.timeTable">Time Table</span></dt>
                <dd>
                    <span *ngFor="let timeTable of course.timeTables; let last = last">
                        <a [routerLink]="['/time-table', timeTable?.id, 'view' ]">{{timeTable.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/course', course.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
