<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="timeTable">
            <h2><span jhiTranslate="demoApp.timeTable.detail.title">Time Table</span> {{timeTable.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="demoApp.timeTable.weekday">Weekday</span></dt>
                <dd>
                    <span>{{timeTable.weekday}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.timeTable.number">Number</span></dt>
                <dd>
                    <span>{{timeTable.number}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.timeTable.teacher">Teacher</span></dt>
                <dd>
                    <div *ngIf="timeTable.teacher">
                        <a [routerLink]="['/teacher', timeTable.teacher?.id, 'view']">{{timeTable.teacher?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/time-table', timeTable.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
