<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-teacher-heading" jhiTranslate="demoApp.teacher.home.createOrEditLabel">Create or edit a Teacher</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!teacher.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="teacher.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="demoApp.teacher.teacherNo" for="field_teacherNo">Teacher No</label>
                    <input type="text" class="form-control" name="teacherNo" id="field_teacherNo"
                        [(ngModel)]="teacher.teacherNo" required/>
                    <div [hidden]="!(editForm.controls.teacherNo?.dirty && editForm.controls.teacherNo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.teacherNo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="demoApp.teacher.teacherName" for="field_teacherName">Teacher Name</label>
                    <input type="text" class="form-control" name="teacherName" id="field_teacherName"
                        [(ngModel)]="teacher.teacherName" required/>
                    <div [hidden]="!(editForm.controls.teacherName?.dirty && editForm.controls.teacherName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.teacherName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="demoApp.teacher.subject" for="field_subject">Subject</label>
                    <input type="text" class="form-control" name="subject" id="field_subject"
                        [(ngModel)]="teacher.subject" required/>
                    <div [hidden]="!(editForm.controls.subject?.dirty && editForm.controls.subject?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.subject?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="demoApp.teacher.timeTable" for="field_timeTable">Time Table</label>
                    <input type="text" class="form-control" name="timeTable" id="field_timeTable"
                        [(ngModel)]="teacher.timeTable" required/>
                    <div [hidden]="!(editForm.controls.timeTable?.dirty && editForm.controls.timeTable?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.timeTable?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="demoApp.teacher.teacherTel" for="field_teacherTel">Teacher Tel</label>
                    <input type="text" class="form-control" name="teacherTel" id="field_teacherTel"
                        [(ngModel)]="teacher.teacherTel" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="demoApp.teacher.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="teacher.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === teacher.user?.id ? teacher.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
