<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="teacher">
            <h2><span jhiTranslate="demoApp.teacher.detail.title">Teacher</span> {{teacher.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="demoApp.teacher.teacherNo">Teacher No</span></dt>
                <dd>
                    <span>{{teacher.teacherNo}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.teacher.teacherName">Teacher Name</span></dt>
                <dd>
                    <span>{{teacher.teacherName}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.teacher.teacherTel">Teacher Tel</span></dt>
                <dd>
                    <span>{{teacher.teacherTel}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.teacher.teacherTime">Teacher Time</span></dt>
                <dd>
                    <span>{{teacher.teacherTime}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.teacher.user">User</span></dt>
                <dd>
                    {{teacher.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/teacher', teacher.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
