<div>
    <h2 id="page-heading">
        <span jhiTranslate="demoApp.lab.home.title">Labs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lab" [routerLink]="['/lab/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="demoApp.lab.home.createLabel">
            Create new Lab
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="labs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="labName"><span jhiTranslate="demoApp.lab.labName">Lab Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="labType"><span jhiTranslate="demoApp.lab.labType">Lab Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="labVolume"><span jhiTranslate="demoApp.lab.labVolume">Lab Volume</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="timeTable.id"><span jhiTranslate="demoApp.lab.timeTable">Time Table</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let lab of labs ;trackBy: trackId">
                <td><a [routerLink]="['/lab', lab.id, 'view' ]">{{lab.id}}</a></td>
                <td>{{lab.labName}}</td>
                <td>{{lab.labType}}</td>
                <td>{{lab.labVolume}}</td>
                <td>
                    <div *ngIf="lab.timeTable">
                        <a [routerLink]="['../time-table', lab.timeTable?.id, 'view' ]" >{{lab.timeTable?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/lab', lab.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/lab', lab.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'lab/'+ lab.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
